/*--COMMON--*/

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    }
.ltr-effect{
    position: relative;
}
.ltr-effect:after{
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    top:0;
    left: 0;
    background-color: rgb(0, 0, 0);
    z-index: -1;
    transition: width 0.5s;
}
.ltr-effect:hover:after{
    width: 100%;
}

/*--COMMON--*/

/*-- GENRAL --*/

* {
margin: 0;  
padding: 0; 
box-sizing: border-box;
}

body {
    font-family: 'Gemunu Libre', sans-serif;
    list-style: none;
}
h1 , h2 , h3 , h4 , h5 , h6{
    font-family: 'Gemunu Libre', sans-serif;
}
.container{
width: 95%;
margin: auto;
}
.list-unstyled{
list-style: none;
}
.pd-y{
 padding: 2em 0;
 }
 .section-header{
 text-align: center;
 margin-bottom: 1.25em;
}
.section-header .section-title{
 font-size: 3.25em;
 color: #000000;
}

.section-header .line{
 display: block;
 height:0.15em;
 margin:0 auto 1em auto;
 width: 6.25em;
 background-color: #ff0000;

}
img{
    width: 100%;
    height: 100%;
}

/*-- GENRAL --*/

/* --Navbar section-- */

.header nav {
height: 10vh;
display: flex;
justify-content: space-around;
align-items: center;
}

.header .logo img{
flex: 1;
width: 35%;
margin: 1em; 
align-items: center;  
}

.header nav .nav-links {
list-style: none;
display: flex;
padding:0;
margin: 0;
width: 65%; 
}

.header nav .nav-links a {
color: #ffffff;
text-decoration: none;
text-align: center;
align-items: center;
font-size: 1.50em;
font-weight: bold;
padding: 0.85em;
display: block;
}

.header nav .nav-links   li  a.active:after{
 content: "";
 display: block;
 width: 100%;
 height: 3px;
 background-color: #ffffff;
 transition:width 0.5s; 
}

.header nav .nav-links  li  a:after{
 content: "";
 display: block;
 width: 0;
 height: 3px;
 background-color: #ffffff;
 transition:width 0.5s;    
}

.header nav .nav-links li  a:hover:after{
 width: 100%;
}

.burger {
 display: none;
 cursor: pointer;
}

.burger div{
 width: 25px;
 height: 3px;
 background-color: #ff0000;
 margin: 5px;
 transition: all 0.3s ease;
}

/* --Navbar section-- */


 /*--Main Section--*/
 .main{
 height: 100vh;
 background-image:url(../images/background/background1.webp);
 background-position: bottom;
 background-size: cover; 
 position: relative;   
}

.main-content{  
position: absolute;
width: 65%;
top:50%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;

}
.main .titlesmall{
 color: #ff0000;
 font-weight: bold;
 text-transform: uppercase;   
} 

.main .title{
color: rgb(255, 255, 255);
font-weight: bold;
text-transform: uppercase; 
background-color: rgb(0, 0, 0,0.35);
display: inline-block;  
}

.main .main-desc{
margin: 1.25em 0;
color: #ffffff;
letter-spacing: 2px;
line-height: 1.5;
font-weight: bold;
background-color: rgb(0, 0, 0,0.35);
display: inline-block;  
}

 /*--Main Section--*/

 /*--What I offer--*/
.service .section-header{
 text-align: center;
}
.service-content{
 display: flex;
 text-align: center;
 justify-content: center;
 width: 95%;
 margin: auto;
 padding: 0.25em;  
}

.service-item{
 flex:1;
 width: 31%;
 text-align: center;
 border: 1px solid #e8e8e8;
 padding: 2.125em 1.250em;
}
.service .title{
 color: #ff0000;
 font-weight: bold;
 text-transform: uppercase; 
 display: inline-block;  
}

.service-item:hover .service-item-title{
 color:#fff;
}
.service-item:hover .service-item-desc{
 color:#ff0000;
}
.service-item.mg{
 margin: 0 5%;
}
.service-item .icon{
 color:#ff0000;
 margin-bottom: 0.625em;
}
.service-item-title{

 margin-bottom: 0.625em;
 transition: color 0.5s;
}
.service-item-desc{
 line-height: 1.6;
 margin-bottom: 0.625em;
 color: rgb(0, 0, 0);
 font-size: 1.35em;
}
.service-item-link{
color:#6195ff;
text-transform: capitalize;
font-size: 1.35em;  
}

/*--What I offer--*/

/*--about me --*/

.about .about-content{
display: flex;
background-color: #000000;
}    
.about .about-content .about-item{
width: 50%; 
justify-content: center;
align-items: center;
text-align: center;
margin: auto;
} 
.about .about-desc{
color: #ffffff;
letter-spacing: 2px;
line-height: 1.5;
font-weight: bold;
font-size: 1.75em;
display: inline-block;  
}  
.about .about-desc1{
 margin: 1.25em 0;
 color: #ffffff;
 letter-spacing: 2px;
 line-height: 1.5;
 font-size: 1.1em;    
 display: inline-block;  
 }    
.about .about-desc2{
margin: 1.25em 0;
color: #ff0000;
letter-spacing: 2px;
line-height: 1.5;
font-size: 1em;
 }
.about .about-desc4{
color: #ff0000;
letter-spacing: 2px;
line-height: 1.25;
font-weight: bold;
font-size: 1em;  
 }     

/*--about me --*/

/*-- portfolio--*/
.portfolio .section-header{
 text-align: center;
}
.portfolio-content{
 display: flex;
 justify-content: center;
 width: 95%;
 margin: auto;
 padding: 0.25em; 
 flex-wrap: wrap;
}

.portfolio-item{
 flex-wrap: wrap;
 width: 50%;
 text-align: center;
 padding-right: 0.25em;
 padding-bottom: 0.25em;
}
.portfolio .title{
color: #ff0000;
font-weight: bold;
text-transform: uppercase; 
display: inline-block;  
}

/*-- portfolio--*/

/*--testimonail section--*/

.testimonail{
position: relative;
background-image: url(../images/background/background3.webp);
background-attachment: fixed;
height: 19em;
text-align: center;
justify-content: center;
margin-top: 5em;
}
.testimonail-content{
 display: flex;
 padding:  1.5em 0;
 width: 90%;
 margin: auto;
 text-align: center;
 align-content: center;
 padding-left: 25px;   
}
.testimonail-item{
flex: 1;
color: #fff;
}

.testimonail-item .testimonail-toplayer img{
border-radius: 50%;
width: 25%;
}
.testimonail-item .testimonail-toplayer span{
color:#ff0000;
}
.testimonail-desc{
line-height: 1.5;
font-size:1.25em ;
}

/*--testimonail section--*/

/*--Contact Section--*/

.contacts .section-header{
text-align: center;
}
.contact{
 display: flex;
 text-align: center;
 background-color:#26252b ;   
}

.contact-item{
 flex:1;
 width: 30%;
 text-align: center;
 margin: auto;
 padding: 3.125em 1.250em;
}
.contact-info{
color:#ff0000;
    font-weight: bold;
}
.contact-info-desc{
line-height: 1.6;  
color: #ffffff;
font-size: 1.25em;
}

/*--Contact Section--*/

/*--footer section--*/

.footer{
display: grid;
grid-template-columns: 1fr;
text-align: center;
}

.nav-links{
list-style: none;
display: flex;
padding:0  1.5em 0 0;
align-content: center;
justify-content: center;
}

.social{
 display: flex;
 flex-direction: row;
 list-style: none;
 justify-content: center;
 margin: 0;
}

.social li {
padding: 0.5em;  
}
.footer .footer-item .nav-links a {
padding: 0.50em;
}
footer ul li a{
color: #ff0000;
font-size: 0.75em;
}

/*--footer section--*/

@media screen and (max-width: 1024px){
    .nav-links {
    width: 60%;  
    }
    .service-item{
    width: 31%;
    }
    }
    
@media screen and (max-width: 760px){
    .burger {
    display: block;
    }
    .nav-links {
     position: absolute;
    width: 50%;
    top: 8vh;
    height: calc(100% - 8vh);
    background-color: #5d495d;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: all 0.5s ease;
    }
        
    .nav-links li {
    opacity: 0;
    }
    .portfolio-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    align-content: flex-start;
    }
    .portfolio-item{
    align-content: center;
    justify-content: center;
    padding-bottom: 0.1m;
    margin: auto;
    }
    .portfolio-item img{
    width: 200%;
    }
    .service-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    align-content: flex-start;
   
    }
    .service-item{
    padding-top: 0.25em;
    margin: auto;
    width: 95%;
    margin-bottom: 1em;
    margin-top: 1em;
    }
    .pd-y{
    padding: .5em 0;
    }
    }
